<!-- Overlay for fixed sidebar -->
<div class="sidebar-overlay"></div>

<!-- Material sidebar -->
<aside id="sidebar" class="sidebar sidebar-default open" role="navigation">
    <!-- Sidebar header -->
    <div class="sidebar-header header-cover" style="background-image: url(assets/img/header-background.jpg);">
        <!-- Top bar -->
        <div layout layout-align="end start" class="top-bar">
        <!-- Sidebar toggle button -->
        <md-button ng-click="logout()" >
          <svg style="width:24px;height:24px" viewBox="0 0 24 24" aria-label="deconnexion">
            <path fill="#000000" d="M17,17.25V14H10V10H17V6.75L22.25,12L17,17.25M13,2A2,2 0 0,1 15,4V8H13V4H4V20H13V16H15V20A2,2 0 0,1 13,22H4A2,2 0 0,1 2,20V4A2,2 0 0,1 4,2H13Z" />
        </svg>

        </md-button>
        </div>
        <!-- Sidebar brand image -->
        <div class="sidebar-image">
            <img src="assets/img/team10.jpg">
        </div>
        <!-- Sidebar brand name -->

         <a data-toggle="dropdown" class="sidebar-brand" href="#settings-dropdown">
             john.doe@gmail.com
             <b class="caret"></b>
         </a>
    </div>

    <!-- Sidebar navigation -->
    <ul class="nav sidebar-nav">
        <li>
            <a ui-sref="private.dashboard">
                <i class="sidebar-icon md-inbox"></i>
                Dashboard
            </a>
        </li>
        <li>
            <a ui-sref="private.abonnement">
                <i class="sidebar-icon md-star"></i>
                Abonnement
            </a>
        </li>
        <li>
            <a ui-sref="private.partenaire">
                <i class="sidebar-icon md-send"></i>
                Partenaires
            </a>
        </li>
        <li>
            <a ui-sref="private.demonstration">
                <i class="sidebar-icon md-drafts"></i>
                Démonstration
            </a>
        </li>
        <li>
            <a ui-sref="private.profil" tabindex="-1">
                <i class="sidebar-icon md-star"></i>
                Profil
            </a>
        </li>

        <li class="divider"></li>
        <li class="dropdown">
            <a class="ripple-effect dropdown-toggle" href="#" data-toggle="dropdown">
                Support
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a ui-sref="private.support({tab:0})" tabindex="-1">
                        FAQ
                    </a>
                </li>
                <li>
                    <a ui-sref="private.support({tab:1})" tabindex="-1">
                        Contact
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- Sidebar divider -->
    <!-- <div class="sidebar-divider"></div> -->

    <!-- Sidebar text -->
    <!--  <div class="sidebar-text">Text</div> -->
</aside>

<div class="wrapper">
</div>
