<md-dialog class="pwdModal" aria-label="Forgot Password" ng-cloak >

    <form name="forgotPwd" novalidate ng-submit="save()">

        <md-toolbar style="background-color:#fff; ">
            <div class="md-toolbar-tools" style="background-color:#fff" layout  layout-align="center center">
                <div class="forgotPwd" layout="column">
                    <h2 class="titleLine"> <span>MOT DE </span><span>PASSE OUBLIÉ</span></h2>
                </div>
                <!-- <div class="" layout="column">
                    <md-button md-no-ink class="md-icon-button md-primary" ng-click="cancel()">
                        <md-icon aria-label="Contact" style="color:#000">clear</md-icon>
                        <md-tooltip>
                            Fermer
                        </md-tooltip>
                    </md-button>
                </div> -->
            </div>
        </md-toolbar>

        <md-dialog-content>
            <span flex></span>
            <!-- EMAIL -->
            <p class="txtmodal"
            layout layout-align="center center">
              Entrez votre adresse email pour réinitialiser votre mot de passe.</p>
            <md-input-container class="md-block" "txtlab">
                <label>Adresse Email</label>
                <input required type="email" name="email" ng-model="email"
                        ng-pattern="/^.+@.+\..+$/" />
                <!-- <div ng-messages="forgotPwd.email.$error" role="alert" >
                    <div ng-message-exp="['required', 'pattern']">
                        Votre adresse mail n'est pas valide.
                    </div>
                </div> -->
            </md-input-container>

        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="end" style="margin-top: 20px;">

            <md-button  ng-click="cancel()" type="button" class="md-Color formbutton">
                Annuler
            </md-button>
            <md-button ng-disabled="forgotPwd.$invalid" type="submit" class="md-primary formbutton" style="background-color:#faa350;">
                Réinitialiser
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
