<md-dialog class="pwdModal" aria-label="Forgot Password" ng-cloak >



        <md-toolbar style="background-color:#fff; ">
            <div class="md-toolbar-tools" style="background-color:#fff" layout  layout-align="center center">
                <div class="forgotPwd" layout="column">
                    <h2 class="titleLine"> <span>MOT DE </span><span>PASSE OUBLIÉ</span></h2>
                </div>

            </div>
        </md-toolbar>

        <md-dialog-content >
          <span flex></span>
          <!-- EMAIL -->
          <p class="txtmodal" class="txtmodalCentre"  style="min-height: 137px;" layout layout-align="center center">
            Un email contenant un lien de réinitialisation vous a été envoyé.<br>
            S'il n'apparait pas dans votre boite de réception, vérifiez dans vos courriers indésirables.
          </p>
        </md-dialog-content>
        <md-dialog-actions style="max-height: 50px;" layout="row" layout-align="end end" >

            <md-button  ng-click="cancel()" type="button" class="md-primary formbutton buttonPlace" style="background-color:#faa350;"  >
                Fermer
            </md-button>

        </md-dialog-actions>

</md-dialog>
