<md-content layout layout-align="center start">

  <div flex="25" layout layout-align="center center" style="height:600px;margin-top:50px;">
    <md-card style="height:600px">
      <md-card-header ng-if="!bool" id="bool" ng-hide="show">
         <md-card-header-text layout="column" layout-align="center center" style="font-size:30px;margin-top:20px;" >
           <span class="md-title"><b>0€</b></span>
           <span class="md-subhead">par mois</span>
         </md-card-header-text>
       </md-card-header>
      <md-card-header layout style="margin-top:11px;" ng-if="bool" id="bool" ng-hide="show">
        <div layout="column">
            <md-card-avatar>
              <img style="width:70px;" class="md-user-avatar" src="./assets/img/team10.jpg"/>
            </md-card-avatar>
          <md-card-header-text layout layout-align="center center">
            <span style="font-size:20px;margin-left:150px;font-weight:bold;" class="md-title">John Doe<span>
          </md-card-header-text>
        </div>
        <div layout="column" layout-align="center center">
          <md-icon style="margin-left: 70px;font-size: 30px;">file_download</md-icon>
        </div>
       </md-card-header>
      <md-card-title style="flex: 0 0 auto;">
        <md-card-title-text layout layout-align="center center" style="background-color: red;height:30px;">
          <span class="md-headline" style="color:white;"><b>FREE</b></span>
        </md-card-title-text>
      </md-card-title>
      <div>
        <md-card-content layout="column" layout-align="start start">
          <span>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in viverra est. Vestibulum a vestibulum odio. Donec vestibulum orci tellus.
          </span>
        </md-card-content>

      <md-card-content>
          <div>
            <md-icon>done</md-icon>
            <span>
              Unlimited Users
            </span>
          </div>
          <div>
            <md-icon>done</md-icon>
            <span>
              3 DataPages
            </span>
          </div>
          <div>
            <md-icon>done</md-icon>
            <span>
              250 MB Data Transfer
            </span>
          </div>
          <div>
            <md-icon>done</md-icon>
            <span>
              Community Support
            </span>
          </div>
        </md-card-content>
      </div>
    </md-card>
  </div>
  <div flex="25" layout layout-align="center center" style="height:600px;margin-top:50px;">
    <md-card style="height:600px" >
      <md-card-header  ng-if="bool" id="bool" ng-hide="show">
         <md-card-header-text layout="column" layout-align="center center" style="font-size:30px;margin-top:20px;" >
           <span class="md-title"><b>250€</b></span>
           <span class="md-subhead">par mois</span>
         </md-card-header-text>
       </md-card-header>
       <md-card-header layout style="margin-top:11px;"  ng-if="!bool" id="bool" ng-hide="show">
         <div layout="column">
             <md-card-avatar>
               <img style="width:70px;" class="md-user-avatar" src="./assets/img/team10.jpg"/>
             </md-card-avatar>
           <md-card-header-text layout layout-align="center center">
             <span style="font-size:20px;margin-left:150px;font-weight:bold;" class="md-title">John Doe <span>
             <!--<span class="md-subhead">subhead</span>-->
           </md-card-header-text>
         </div>
         <div layout="column" layout-align="center center">
           <md-icon style="margin-left: 70px;font-size: 30px;">file_download</md-icon>
         </div>
        </md-card-header>
      <!--<img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out">-->
      <md-card-title style="flex: 0 0 auto;">
        <md-card-title-text layout layout-align="center center" style="background-color: red; height:30px;">
          <span class="md-headline" style="color:white;"><b>PREMIUM</b></span>
        </md-card-title-text>
      </md-card-title>
      <div>
      <md-card-content layout="column" layout-align="start start">
        <span>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin faucibus lacus at sapien auctor, eget ornare nisi suscipit. Nam massa.
        </span>
      </md-card-content>
      </div>
      <md-card-content>
        <div>
          <md-icon>done</md-icon>
          <span>
            50 DataPages
          </span>
        </div>
        <div>
          <md-icon>done</md-icon>
          <span>
            Unmetered Data Transfer
          </span>
        </div>
        <div>
          <md-icon>done</md-icon>
          <span>
             Live Business Support
          </span>
        </div>
        <div>
          <md-icon>done</md-icon>
          <span>
            Standard Features
          </span>
        </div>
        <div>
          <md-icon>done</md-icon>
          <span>
          2 Hours Expert Sessions
          </span>
        </div>
        <div>
          <md-icon>done</md-icon>
          <span>
            Lorem ipsum dolor sit amet.
          </span>
        </div>
      </md-card-content  layout="column" layout-align="start start">
      <md-card-actions layout="column" layout-align="start">
        <div ng-if="status" id="status" >
          <md-button id="BtnPremium"  style="width:200px;margin:0px 100px;background-color:red;box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);padding:10px;color:white;font-weight:bold;" ng-hide="show" ng-click="showConfirm(ev)">{{status}}</md-button>
        </div>
        <div ng-if="!bool" id="bool" >
          <md-button id="BtnAnnulation" style="width:200px;margin:0px 100px;background-color:red;box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);padding:10px;color:white;font-weight:bold;" ng-click="showDelete(event)">Annuler abonnement</md-button>
        </div>
      </md-card-actions>
    </md-card>
  </div>

</md-content>
<div style="text-align:center;margin-top:10px;">
<md-button id="BtnPremium"  style="width:200px;margin:0px 100px;background-color:red;box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);padding:10px;color:white;font-weight:bold;" href="{{ base_url }}api/v1/user/invoice/1"  ng-hide="show"><span  style="color:white;">Consulter ma facture</span></md-button>
 </div>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
<script>
$(document).ready(function() {
  $("#BtnAnnulation").mouseout(function(){
    $(this).css('background-color', 'red');
  });
  $("#BtnAnnulation").mouseover(function(){
    $(this).css('background-color', 'rgb(222, 0, 0)');
  });
  $("#BtnPremium").mouseout(function(){
    $(this).css('background-color', 'red');
  });
  $("#BtnPremium").mouseover(function(){
    $(this).css('background-color', 'rgb(222, 0, 0)');
  });
});
</script>
