<style>
.material-icons {
  font-size:100px;
}
#BoutonPlus{
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
#BoutonParametre{
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  width:50px;
  height:50px;
  background-color: #ccc;
  float:right;
  margin-top:70px;
}
.md-button {
  padding:0 auto;
}
.test{
  border : 0px !important;
  box-shadow: 0px !important;
  background-color: rgb(250, 250, 250) !important;
}
td{
  border:0px !important;
  padding : 0px !important;
  background-color: rgb(250, 250, 250) !important;
  color:rgb(250, 250, 250) !important;
}
</style>
<md-content layout-gt-sm="row" layout-padding class="fixed-tool">
  <div class="contactHeader" style="width:1600px;height: 94px;">
    <div class="titleLineWhite"><span>DASHBOARD</span></div>
    <img src="/assets/img/logo-intersession.png" class="fixed-tool-logo logo-right">
    <!--<div class="filterHeader"></div>-->
  </div>
</md-content>
<div layout="column" layout-align="start start" style="margin-top:20px;" >
  <table class="test">
    <tr>
      <td>
  <div style="border:1px solid ;width:270px;height:270px;margin-left:50px;box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);background-color:white">
    <div style=";background-color:#E84627;text-align:center;"><span style="text-align:center;font-size:19px;color:white;"><b>NOM DE L'APPLICATION</b></span></div>
    <p style="color :#333;font-size:18px;margin-top:20px;text-align:center">7 dataPages</p>
    <p style="color :#ccc;font-size:14px;margin-top:20px;text-align:center">Modifier le : 07/09/2016</p>
    <div><md-button  style="background-color:#E84627;color:white;font-weight:bold;width:150px;margin: 5px 60px;padding:0px;height:40px;"><i class="material-icons" style="font-size:36px;color:white;">visibility</i><span style="color:white;">Visualiser</span></md-button></div>
    <div><md-button  style="background-color:#E84627;color:white;font-weight:bold;width:150px;margin: 5px 60px;padding:0px;height:40px;"><i class="material-icons" style="font-size:36px;color:white;">edit</i><span style="color:white;">Modifier</span></md-button></div>
    <div> <md-button  style="background-color:#E84627;color:white;font-weight:bold;width:150px;margin: 5px 60px;padding:0px;height:40px;"><i class="material-icons" style="font-size:36px;color:white;">delete</i><span style="color:white;">Supprimer</span></md-button></div>
  <!--   <md-button id="BoutonParametre" onclick="ParamCadre()"><i class="material-icons" style="font-size:36px;color:white;">settings</i></md-button>
   <div id="CadreParametre" style="position: relative;border:1px solid ;width:200px;background-color:white;margin-left:100px;margin-top:130px;z-index:1000;box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26)">
      <p  style="text-align:center;height:30px;" class="ModifParametre"><a href="#" ><i class="material-icons" style="font-size:20px;color:red;margin-left:10px;">visibility</i><span  style="text-align:center;"> Voir</span></a></p>
      <p  style="text-align:center;height:30px;" class="ModifParametre"><a href="#"><i class="material-icons" style="font-size:20px;color:red;margin-left:10px;">edit</i><span  style="text-align:center;">  Modifier</span></a></p>
      <p  style="text-align:center;height:30px;" class="ModifParametre"><a href="#"><i class="material-icons" style="font-size:20px;color:red;margin-left:10px;">delete</i><span  style="text-align:center;">  Supprimer</span></a></p>
    </div> -->
  </div>
</td>
<td>
<!--  <table style="border:1px solid ;width:250px;height:250px;margin-left:50px;box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);background-color:white;z-index:0" id="tableEffet">
    <tr>
      <td style="text-align:center;"><a id="btn_plus" href="#/tableaux" ><md-button id="BoutonPlus" style="box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);width:130px;height:130px;background-color: red;"><span style="font-size:50px;color:white;">+</span></md-button></a>
     </td>
   </tr>
 </table> -->
</td>
<td>
  <div style="border:1px solid ;width:270px;height:270px;margin-left:50px;box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);background-color:#E84627;z-index:0" id="tableEffet">
    <a id="btn_plus" href="#/tableaux" ><md-button id="BoutonPlus" style="margin-left:80px;margin-top:80px;" ><i class="material-icons" style="color:white;">add</i></md-button></a>
  </div>
</td>
</tr>
</table>
</div>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
<script>
$(document).ready(function() {
  $('#CadreParametre').hide();
/*  $('#BoutonParametre').click(function() {
    $('#CadreParametre').toggle(function() {
      $('#CadreParametre').animate({
          visibility: true,
        }, 500);
    });
  });*/
  $(".ModifParametre").mouseover(function(){
      $(".ModifParametre").css('background-color', '#fff');
      $(this).css('background-color', '#ccc');
  });
/*  $("#BoutonPlus").mouseover(function(){
    $(this).css('background-color', 'rgb(222, 0, 0)');
  });
  $("#BoutonPlus").mouseout(function(){
    $(this).css('background-color', 'red');
  });
  $("#tableEffet").mouseover(function(){
    $(this).css('background-color', '#E5DFDF');
  });
  $("#tableEffet").mouseout(function(){
    $(this).css('background-color', 'white');
  });
  $(".BtnOption").mouseout(function(){
    $(".BtnOption").css('background-color', '#12D5DC');
    $(this).css('background-color', '#ccc');
  });*/
});
function ParamCadre(){
  $('#CadreParametre').toggle(function() {
    $('#CadreParametre').animate({
        visibility: true,
      }, 500);
  });
}
</script>
