<md-content style="background: url(assets/img/login.jpg) no-repeat center center fixed;background-size:cover;width:100%;height:100%" layout="column" layout-align="center center">
    <div class="md-whiteframe-z3" style="padding: 30px;border-radius: 2px; width: 100%; max-width: 350px; background-color: #fff;">
        <img src="./assets/img/logo.png" height="60px" alt="Accueil">
        <form name="loginForm" ng-submit="login(login)">
            <md-input-container flex>
              <label>Votre email d'inscription</label>
              <input type="text" ng-model="login.email" name="username" required>
            </md-input-container>
            <div layout="row" style="margin-top: 50px;" layout-align="space-between center">
                <md-button md-no-ink ng-if="!noPassword" type="submit" style="text-transform: none" class="md-raised">Envoyer</md-button>
            </div>
        </form>
    </div>
</md-content>
