<div flex layout layout-fill>
    <md-content layout layout-fill >
        <div layout layout-align="space-between start" >
        </div>
        <!-- <md-content ui-view flex layout-align="center center" layout-fill style="top:0px"> -->
        <md-content layout layout-align="start start" class="whiteBackground">
            <div layout="column"><menu style="margin-top:0px;margin-bottom:0px;padding-left:0px;"></menu></div>

        </md-content>
        <md-content ui-view layout-align="center center">
            
        </md-content>
        <!-- <tr-footer></tr-footer> -->
    </md-content>
</div>

