<div style="position:fixed;top:0;left:0;right:0;height:128px;background:#efefef !important;" class="fixed-tool">
    <div style="width:75%;max-width:1920px;margin:0 auto">
        <img src="/assets/img/logo-intersession.png" class="fixed-tool-logo">
        <md-button href="http://www.google.fr" layout-align="end center" class="md-raised" type="submit" style="background:#E84627;padding:10px;color:white !important;float:right;margin:35px 0;">S'inscrire</md-button>
    </div>
</div>

<md-contentlayout="column" layout-align="center" layout-fill class="login-form">
    <form>
        <div layout="column" style="width:400px;top:150px;position:absolute;right:0; left:0; margin-left:auto; margin-right:auto;" >
           
            <h1>Connexion</h1>
            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Identifiant</label>
                    <input ng-model="login.username" type="text" layout="column" name="username" required>
                </md-input-container>
            </div>
           
            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Mot de passe</label>
                    <input ng-model="login.password" type="password" layout="column" name="username" required>
                </md-input-container>
            </div>

            <div layout-gt-sm="row" layout-align="end center">
                <a href="" class="md-primary md-raised" ng-click="forgotPwd()" style="font-weight:700;">Mot de passe oublié</a>
            </div>
            
            <br>

            <div layout-gt-sm="row" layout-align="center">
                <md-button class="md-raised" type="submit" ng-click="login()" style="background:#E84627;padding:10px;color:white;">Se connecter</md-button>
            </div>

        </div>
    </form>
</md-content>