<md-content layout-gt-sm="row" layout-padding class="fixed-tool">
  <div class="contactHeader" style="width:1600px;height: 94px;">
    <div class="titleLineWhite"><span>PARTENAIRES</span></div>
    <img src="/assets/img/logo-intersession.png" class="fixed-tool-logo logo-right">
    <!--<div class="filterHeader"></div>-->
  </div>
</md-content>

<h2 align="center">Nos partenaires</h2>
<div style="text-align:center;">
  <img src="/assets/img/coca.png" class="fixed-tool-logo " >
  <img src="/assets/img/cisco.png" class="fixed-tool-logo ">
  <img src="/assets/img/comcast.png" class="fixed-tool-logo ">
  <img src="/assets/img/hp.png" class="fixed-tool-logo ">
</div>
<div style="text-align:center;">
  <img src="/assets/img/lenovo.png" class="fixed-tool-logo ">
  <img src="/assets/img/philips.png" class="fixed-tool-logo ">
  <img src="/assets/img/yelp.png" class="fixed-tool-logo ">
  <img src="/assets/img/gannett.png" class="fixed-tool-logo ">
</div>
