<md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
  <div class="contactHeader" style="width:1600px;height: 94px;">
    <div class="titleLineWhite"><span>MON </span> <span>PROFIL</span></div>
    <img src="/assets/img/logo-intersession.png" class="fixed-tool-logo logo-right">
    <!--<div class="filterHeader"></div>-->
  </div>
</md-content>
  <md-content layout layout-align="center center">
    <div>
      <form name="userForm">
        <md-input-container class="md-block" flex="33">
          <label><i class="material-icons prefix active" style="color: #E84627 !important;">account_circle</i> Nom</label>
          <input ng-model="user.nom">
        </md-input-container>
        <md-input-container class="md-block" flex="33">
          <label><i class="material-icons prefix active" style="color: #E84627 !important;">account_circle</i> Prénom</label>
          <input ng-model="user.prenom">
        </md-input-container>
        <md-input-container class="md-block" flex="33">
          <label><i class="material-icons prefix active" style="color: #E84627 !important;">email</i> Email</label>
          <input ng-model="user.email" type="email">
        </md-input-container>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label><i class="material-icons prefix active" style="color: #E84627 !important;">lock</i> Mot de passe</label>
            <input ng-model="user.password">
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label><i class="material-icons prefix active" style="color: #E84627 !important;">lock</i> Confirmation de mot de passe</label>
            <input ng-model="user.repassword">
          </md-input-container>
        </div>

        <md-input-container class="md-block" flex="33">
          <label><i class="material-icons prefix active" style="color: #E84627 !important;">phone</i> Téléphone</label>
          <input ng-model="user.telephone">
        </md-input-container>
        <md-input-container class="md-block" flex="33">
          <label><i class="material-icons prefix active" style="color: #E84627 !important;">business</i> Entreprise</label>
          <input ng-model="user.company">
        </md-input-container>
        <md-input-container class="md-block" flex="33">
          <label><i class="material-icons prefix active" style="color: #E84627 !important;">work</i> Métier</label>
          <input ng-model="user.jobtitle">
        </md-input-container>
        <div layout layout-align="center">
          <md-button class="md-primary md-raised trButton" type="submit" ng-click="sendFormButton()" style="padding:0 20px 0 20px">
            Modifier
          </md-button>
        </div>
      </form>
    </div>
</md-content>
