<md-content style="background: url(assets/img/login.jpg) no-repeat center center fixed;background-size:cover;width:100%;height:100%" layout="column" layout-align="center center">
    <div class="md-whiteframe-z3" style="padding: 30px;border-radius: 2px; width: 100%; max-width: 350px; background-color: #fff;">

    </div>
</md-content>
