<md-content layout-gt-sm="row" layout-padding>
  <div class="contactHeader" style="width:1600px;height: 94px;">
    <div class="titleLineWhite"><span>CONTACT & FAQ</span></div>
    <img src="/assets/img/logo-intersession.png" class="fixed-tool-logo logo-right">
    <!--<div class="filterHeader"></div>-->
  </div>
</md-content>

<md-content>
    <md-tabs md-dynamic-height md-border-bottom md-selected="selectedIndex">
        <md-tab label="FAQ" class="FAQstyle">
          <md-content class="md-padding">
            <md-button ng-click="toggleApplication()" layout-fill class="buttonFaq">Profil</md-button>
            <div ng-show="application" style="margin-bottom:30px;">
              <h1 class="md-display-2">Comment modifier mon profil ?</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Nulla venenatis ante augue</strong>.
                Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. <a href="">In sodales pretium ultrices</a>. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus. Vivamus convallis sodales ante varius gravida. Curabitur a purus vel augue ultrices ultricies id a nisl. Nullam malesuada consequat diam, a facilisis tortor volutpat et. Sed urna dolor, aliquet vitae posuere vulputate, euismod ac lorem. Sed felis risus, pulvinar at interdum quis, vehicula sed odio. Phasellus in enim venenatis, iaculis tortor eu, bibendum ante. Donec ac tellus dictum neque volutpat blandit. Praesent efficitur faucibus risus, ac auctor purus porttitor vitae. Phasellus ornare dui nec orci posuere, nec luctus mauris semper.</p>
              <h1 class="md-display-2">Comment changer mon mot de passe ?</h1>
              <p>Morbi viverra, ante vel aliquet tincidunt, leo dolor pharetra quam, at semper massa orci nec magna. <a href="">Donec posuere nec sapien</a> sed laoreet. Etiam cursus nunc in condimentum facilisis. Etiam in tempor tortor. Vivamus faucibus egestas enim, at convallis diam pulvinar vel. Cras ac orci eget nisi maximus cursus. Nunc urna libero, viverra sit amet nisl at, hendrerit tempor turpis. Maecenas facilisis convallis mi vel tempor. Nullam vitae nunc leo. Cras sed nisl consectetur, rhoncus sapien sit amet, tempus sapien.</p>
              <h1 class="md-display-2">Comment supprimer mon compte ?</h1>
              <p>Integer turpis erat, porttitor <a href="">vitae mi faucibus</a>, laoreet interdum tellus. <strong>Curabitur posuere molestie dictum.</strong> Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
            </div>
            <md-button ng-click="toggleAbonnement()" layout-fill class="buttonFaq">Dashboard</md-button>
            <div ng-show="abonnement" style="margin-bottom:30px;">
              <h1 class="md-display-2">Qu'est ce que le dashboard ?</h1>
              <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="">Nulla venenatis ante augue</a>. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus. Vivamus convallis sodales ante varius gravida. Curabitur a purus vel augue ultrices ultricies id a nisl. Nullam malesuada consequat diam, a facilisis tortor volutpat et. Sed urna dolor, aliquet vitae posuere vulputate, euismod ac lorem. Sed felis risus, pulvinar at interdum quis, vehicula sed odio. Phasellus in enim venenatis, iaculis tortor eu, bibendum ante. Donec ac tellus dictum neque volutpat blandit. Praesent efficitur faucibus risus, ac auctor purus porttitor vitae. Phasellus ornare dui nec orci posuere, nec luctus mauris semper.</p>
              <h1 class="md-display-2">Comment ajouter une application ?</h1>
              <p>Morbi viverra, ante vel aliquet tincidunt, leo dolor pharetra quam, at <strong>semper massa orci</strong> nec magna. Donec posuere nec sapien sed laoreet. Etiam cursus nunc in condimentum facilisis. Etiam in tempor tortor. Vivamus faucibus egestas enim, at convallis diam pulvinar vel. Cras ac orci eget nisi maximus cursus. Nunc urna libero, viverra sit amet nisl at, hendrerit tempor turpis. Maecenas facilisis convallis mi vel tempor. Nullam vitae nunc leo. Cras sed nisl consectetur, rhoncus sapien sit amet, tempus sapien.</p>
            </div>
            <md-button ng-click="toggleTheme3()" layout-fill class="buttonFaq">Abonnement</md-button>
            <div ng-show="theme3" style="margin-bottom:30px;">
              <h1 class="md-display-2">Puis-je changer d'offres en cours d'abonnement ?</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="">Nulla venenatis ante augue</a>. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus. Vivamus convallis sodales ante varius gravida. Curabitur a purus vel augue ultrices ultricies id a nisl. Nullam malesuada consequat diam, a facilisis tortor volutpat et. Sed urna dolor, aliquet vitae posuere vulputate, euismod ac lorem. Sed felis risus, pulvinar at interdum quis, vehicula sed odio. Phasellus in enim venenatis, iaculis tortor eu, bibendum ante. Donec ac tellus dictum neque volutpat blandit. Praesent efficitur faucibus risus, ac auctor purus porttitor vitae. Phasellus ornare dui nec orci posuere, nec luctus mauris semper.</p>
              <h1 class="md-display-2">Puis-je changer de moyen de paiement ?</h1>
              <p>Morbi viverra, ante vel aliquet tincidunt, leo dolor pharetra quam, at semper massa orci nec magna. Donec posuere nec sapien sed laoreet. Etiam cursus nunc in condimentum facilisis. Etiam in tempor tortor. Vivamus faucibus egestas enim, at convallis diam pulvinar vel. Cras ac orci eget nisi maximus cursus. Nunc urna libero, viverra sit amet nisl at, hendrerit tempor turpis. Maecenas facilisis convallis mi vel tempor. Nullam vitae nunc leo. Cras sed nisl consectetur, rhoncus sapien sit amet, tempus sapien.</p>
            </div>

            <md-button ng-click="toggleTheme4()" layout-fill class="buttonFaq">Démonstration</md-button>
            <div ng-show="theme4" style="margin-bottom:30px;">
              <h1 class="md-display-2">Comment fonctionne la démonstration ?</h1>
              <p> Lorem ipsum dolor sit amet, <a href="">consectetur adipiscing elit</a>. <strong>Nulla venenatis ante augue</strong>. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus. Vivamus convallis sodales ante varius gravida. Curabitur a purus vel augue ultrices ultricies id a nisl. Nullam malesuada consequat diam, a facilisis tortor volutpat et. Sed urna dolor, aliquet vitae posuere vulputate, euismod ac lorem. Sed felis risus, pulvinar at interdum quis, vehicula sed odio. Phasellus in enim venenatis, iaculis tortor eu, bibendum ante. Donec ac tellus dictum neque volutpat blandit. Praesent efficitur faucibus risus, ac auctor purus porttitor vitae. Phasellus ornare dui nec orci posuere, nec luctus mauris semper.</p>
              <h1 class="md-display-2">Suis-je limité dans la création de table ?</h1>
              <p>Morbi viverra, ante vel aliquet tincidunt, leo dolor pharetra quam, at semper massa orci nec magna. <a href="">Donec posuere nec sapien sed laoreet</a>. Etiam cursus nunc in condimentum facilisis. Etiam in tempor tortor. Vivamus faucibus egestas enim, at convallis diam pulvinar vel. Cras ac orci eget nisi maximus cursus. Nunc urna libero, viverra sit amet nisl at, hendrerit tempor turpis. Maecenas facilisis convallis mi vel tempor. Nullam vitae nunc leo. Cras sed nisl consectetur, rhoncus sapien sit amet, tempus sapien.</p>
              <h1 class="md-display-2">Faut-il un abonnement pour utiliser la démonstration ?</h1>
              <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet <strong>interdum tellus</strong>. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
            </div>
          </md-content>
        </md-tab>

        <md-tab label="Nous contacter">
          <md-content class="md-padding">
            <div layout layout-align="center center">
              <p style="text-align: center;color:#939598;min-width: 1600px; margin-bottom:30px;font-size:16px" class="flex-100" layout-fill >
                <strong>Contactez-nous via le formulaire de contact ci-dessous.</strong> <br>
                  Nos équipes vous répondrons dans les meilleurs délais.
              </p>
            </div>
            <div layout="column" layout-align="center center">
              <!--<div layout="column" layout-align="start start" style="margin: 50px 0px 200px 200px;font-size: 18px;" flex="50">
                <h1 style="font-size:24px">Coordonnées BMS</h1>
                <p>Adresse: 153 Rue Saint Honoré 75001 Paris</p>
                <p>Téléphone: +33 465 87 94 25</p>
                <p>Email: bms@contact.com </p>

              </div>--><!--
              <form class="contactTab flex-50" layout="column" layout-align="center stretch">
                <div layout layout-align="center center" style="margin-top:20px">
                  <div layout="row">
                    <input layout="column" type="text" name="nom" placeholder="Nom" class="trInputFirst flex" ng-model="contact.nom">
                    <input layout="column" type="email" name="email" placeholder="Email" class="trInputFirst flex" ng-model="contact.email" required>
                  </div>
                  <div layout="row">
                    <input layout="column" type="text" name="prenom" placeholder="Prénom" class="trInputFirst flex" ng-model="contact.prenom">
                    <input layout="column" type="phone" name="phone" placeholder="Téléphone" class="trInputFirst flex" ng-model="contact.phone">
                  </div>
                </div>
                <div layout layout-align="center center">
                  <input layout type="text" name="objet" placeholder="Sujet" class="trInputFirst flex" ng-model="contact.object" required style="width:1000px">
                </div>
                <div layout layout-align="center center" style="margin-top:10px">
                  <textarea layout="column" layout-fill type="text" name="message" placeholder="Message" class="trMessage flex" ng-model="contact.message" style="width:1000px" required></textarea>
                </div>
                <div layout layout-align="center center" style="margin-top:10px">
                  <md-button class="md-primary md-raised trButton" type="submit" ng-click="sendFormButton()"  style="width:480px" flex="100">
                    Envoyer
                  </md-button>
                </div>
              </form> -->

              <form class="contactTab flex-50" layout="column" layout-align="center stretch">
                <div layout layout-align="center center" style="margin-top:20px">
                  <div layout="column" layout-align="center center">
                    <input layout type="text" name="nom" placeholder="Nom" class="trInputFirst flex" ng-model="contact.nom">
                    <input layout="column" type="email" name="email" placeholder="Email" class="trInputFirst flex" ng-model="contact.email" required>
                  </div>
                  <div layout="column" layout-align="center center">
                    <input layout type="text" name="prenom" placeholder="Prénom" class="trInputFirst flex" ng-model="contact.prenom">
                    <input layout="column" type="phone" name="phone" placeholder="Téléphone" class="trInputFirst flex" ng-model="contact.phone">
                  </div>
                </div>
                <div layout layout-align="center center">
                  <input layout type="text" name="sujet" placeholder="Sujet" class="trInputFirst flex" ng-model="contact.sujet" required style="width:1000px">
                </div>
                <div layout layout-align="center center" style="margin-top:10px">
                  <textarea layout="column" layout-fill type="text" name="message" placeholder="Message" class="trMessage flex" ng-model="contact.message" style="width:1000px" required></textarea>
                </div>
                <div layout layout-align="center center" style="margin-top:10px">
                  <md-button class="md-primary md-raised trButton" type="submit" ng-click="sendFormButton(contact.nom,contact.email,contact.prenom,contact.phone,contact.sujet,contact.message)"  style="width:480px" flex="100">
                    Envoyer
                  </md-button>
                </div>
              </form>
            </div>
          <div layout layout-fill >
             <leaflet center="center" markers="markers" style="width:1580px; height:350px;margin-top:50px"></leaflet>
           </div>

          <!--  <ui-gmap-google-map center='map.center' zoom='map.zoom'>
              <ui-gmap-markers click="clickMarker" icon="'icon'" models="markers" coords="'coord'">
                <leaflet center="center"  style="width:1580px; height:350px;margin-top:50px" >
                </leaflet>
              </ui-gmap-markers>
           </ui-gmap-google-map>-->
          </md-content>
        </md-tab>

    </md-tabs>
  </md-content>
