<md-content layout-gt-sm="row" layout-padding class="fixed-tool">
	<div class="contactHeader" style="width:1600px;height: 94px;">
		<div class="titleLineWhite"><span>GESTION TABLEAUX</span></div>
		<img src="/assets/img/logo-intersession.png" class="fixed-tool-logo logo-right">
	</div>
</md-content>
<div style="clear: both"></div>
<div class="spacer">
	<h1>Liste des tableaux</h1>
	<md-button ng-click="showNewTable = !showNewTable" class="md-fab md-primary" aria-label="Use Android">
		<i class="material-icons">add</i>
	</md-button>  <span style="font-weight: bold">Ajouter un tableau</span>

	<span>
		<div ng-show="showNewTable" id="add-column" >
	<h3>Ajouter un nouveau tableau</h3>
	<form name="addTable">
		<table>
			<tr>
				<td>
					<label>Nom :</label>
				</td>
				<td>
					<input type="text" name="tableName" ng-model="table.name" required><span class="error" ng-show="addTable.tableName.$error.required">*</span>
				</td>
			</tr>
			<tr>
				<td>
					<label>Description :</label>
				</td>
				<td>
					<input type="textarea" name="tableDescription" ng-model="table.description">
				</td>
			</tr>
		</table>
		<div style="padding:20px;margin:10px 0px;width: 585px;background:white">
			<h4>Ajouter des colonnes</h4>
			<fieldset data-ng-repeat="choice in choices">
				<div style="background:#efefef; padding:10px;margin:10px 0;">
					<table>
						<tr>
							<h5>Colonne {{$index + 1}}
								<button class="remove" ng-show="!$first" ng-click="removeChoice($index+1)" style="float: right">X</button></h5>
						</tr>
						<tr>
							<td>
								<label>Nom : </label>
							</td>
							<td>
								<input type="text" ng-show="!$first" ng-model="table.columns[$index+1].name" name="columnName">
								<input type="text" ng-show="$first" ng-model="table.columns[$index+1].name" name="columnName" required>
							</td>
						</tr>
						<tr>
							<td>
								<label>Type : </label>
							</td>
							<td>
								<select name="columnType" ng-model="table.columns[$index+1].type" required>
									<option value="txt" selected>Texte court</option>
									<option value="longtxt">Texte long</option>
									<option value="mail">Mail</option>
									<option value="float">Nombre</option>
								</select>
							</td>
						</tr>
						<tr>
							<td>
								<label>Obligatoire : </label>
							</td>
							<td>
								<input type="checkbox" ng-model="table.columns[$index+1].required" name="columnRequired">
							</td>
						</tr>
					</table>
				</div>
			</fieldset>
			<md-button ng-click="addNewChoice()" class="addfields md-fab md-primary small-button" aria-label="Use Android">
				<i class="material-icons small-icon">add</i>
			</md-button>  <span style="font-weight: bold">Ajouter une colonne</span>
		</div>
		<md-button ng-click="setNewTable()" style="height: 37px;width: 40px;background-color: rgba(0, 128, 0, 0.83);color: white;" class="md-raised" style="margin-top:10px;">
				<i class="material-icons">save</i>
		</md-button> Sauver le tableau
	</form>
</div>
	</span>

	 <div>
		<table style="width:80%">
			<thead>
				<tr class="th-tab">
					<th>ID</th>
					<th>Nom</th>
					<th>Description</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody ng-repeat="data in dataApi">
				<tr>
					<td>{{$index+1}}</td>
					<td>{{data.name}}</td>
					<td>{{data.description}}</td>
					<td>
						<md-button class="md-raised"><a href="#/tableau/{{data.id}}">Voir</a></md-button>
						<md-button class="md-raised md-warn" ng-click="row.selected=!row.selected">Modifier</md-button>
						<md-button class="md-raised md-primary" ng-click="deleteTable(data.id)">Supprimer</md-button>
					</td>

				</tr>
				<tr class="{{row.selected?'modif-show':'modif-hide'}}">
					<td colspan="5" style="padding:10px 30px;">
						<form name="modifTable{{$index}}" ng-submit="modifyTable(modifTable,data.name,data.id)">
						<h4>
							<md-button type="submit" style="height: 37px;width: 40px;background-color: rgba(0, 128, 0, 0.83);color: white;" class="md-raised" style="margin-top:10px;">
								<i class="material-icons">save</i>
							</md-button> Editer le tableau {{data.name}}
						</h4>
							<table>
								<tr>
									<input type="hidden" name="modifTableId" ng-model="modifTable.previous" value="data.nom">
									<td>
										<label>Nom : </label>
									</td>
									<td>
										<input type="text" name="modifTableName" ng-model="modifTable.name">
									</td>
								</tr>
								<tr>
									<td>
										<label>Description : </label>
									</td>
									<td>
										<input type="textarea" name="modifTableDescription" ng-model="modifTable.description">
									</td>
								</tr>
							</table>
						</form>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr class="th-tab">
					<th>ID</th>
					<th>Nom</th>
					<th>Description</th>
					<th>Actions</th>
				</tr>
			</tfoot>
		</table>
	 </div>
