<style>
  thead, tfoot {
    background:lightgrey;
  }
  td{
    min-height: 50px;
    min-width:100px;
    padding:20px;
    border:solid 1px lightgrey;
  }
  thead td, tfoot td {
    font-weight:bold;
  }
</style>
<md-content layout-gt-sm="row" layout-padding class="fixed-tool">
    <div class="contactHeader" style="width:1600px;height: 94px;">
        <div class="titleLineWhite"><span>GESTION DE LA TABLE : {{data.header.name}}</span></div>
        <img src="/assets/img/logo-intersession.png" class="fixed-tool-logo logo-right">
    </div>
</md-content>
<div style="clear: both"></div>

<p class="description-table"> Description de la table : {{data.header.description}}</p>

<div class="spacer">
  <div layout="row">
    <md-button style="height: 37px;width: 40px;background-color: rgba(0, 128, 0, 0.83);color: white;margin:0 5px 20px 20px" class="md-raised" style="margin-top:10px;">
      <i class="material-icons">save</i>
    </md-button> Exporter en PDF
    <md-button style="height: 37px;width: 40px;background-color: rgba(0, 128, 0, 0.83);color: white;margin:0 5px 20px 20px" class="md-raised" style="margin-top:10px;">
      <i class="material-icons">save</i>
    </md-button> Exporter en CSV
    <md-button style="height: 37px;width: 40px;background-color: rgba(0, 128, 0, 0.83);color: white;margin:0 5px 20px 20px" class="md-raised" style="margin-top:10px;">
      <i class="material-icons">save</i>
    </md-button> Exporter en XLS
  </div>
    <div layout="row">

        <div flex>
            <table >
                <thead>
                <tr class="th-tab">
                    <th style="min-width:15px;">n°</th>
                    <th ng-repeat="column in tableauHead">{{column.name}}</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="entry in data.content">
                    <td style="min-width:15px;">{{$index+1}}</td>
                    <td ng-repeat="value in entry.columns" id="{{entry.id}}" ng-model="entree.valeur[entry.id]">{{value}}</td>
                    <td>
                        <md-button class="md-raised md-warn" >Modifier</md-button>
                        <md-button class="md-raised md-primary" ng-click="deleteEntry(entry.id)">Supprimer</md-button>
                    </td>

                </tr>
                </tbody>
                <tfoot>
                <tr class="th-tab">
                    <th style="min-width:15px;">n°</th>
                    <th ng-repeat="column in tableauHead">{{column.name}}</th>
                    <th>Actions</th>
                </tr>
                </tfoot>
            </table>
        </div>
        <div flex>

            <!-- <h2>{{entree}}</h2> -->

            <h2>Ajouter une entrée</h2>
            <!-- <form name="addEntry">
              <div ng-repeat>
                <input type="text" name="name" value="">
              </div>
            </form> -->


            <form class="container" name="newentry" ng-submit="addEntry()">
                <div ng-repeat="column in data.header.columns" style="padding:10px;">
                    <!-- début du switch suivant les types de questions -->

                    <div ng-switch on="column.type">

                        <div ng-switch-when="txt">
                            <div class="row" ng-if="column.required == 1">
                                <p>Type texte :</p>
                                <label for="txt{{$index}}">{{column.name}}</label>
                                <input name="txt{{$index}}" type="text" ng-model="addentry[column.name]" required />
                            </div>
                            <div class="row" ng-if="column.required == 0">
                                <p>Type texte</p>
                                <label for="txt{{$index}}">{{column.name}}</label>
                                <input name="txt{{$index}}" type="text" ng-model="addentry[column.name]" />
                            </div>
                        </div>

                        <div ng-switch-when="longtxt">
                            <div class="row">
                                <p>Type long texte :</p>
                                <md-input-container class="md-block" ng-if="column.required == 1">
                                    <label for="longtxt{{$index}}">{{column.name}}</label>
                                    <textarea name="longtxt{{$index}}" ng-model="addentry[column.name]" md-maxlength="150" rows="1" md-select-on-focus required></textarea>
                                </md-input-container>
                                <md-input-container class="md-block" ng-if="column.required == 0">
                                    <label for="longtxt{{$index}}">{{column.name}}</label>
                                    <textarea name="longtxt{{$index}}" ng-model="addentry[column.name]" md-maxlength="150" rows="1" md-select-on-focus></textarea>
                                </md-input-container>
                            </div>
                        </div>

                        <div ng-switch-when="float">
                            <div class="row" ng-if="column.required == 1">
                                <p>Type nombre :</p>
                                <label for="float{{$index}}">{{column.name}}</label>
                                <input name="float{{$index}}" type="text" ng-model="addentry[column.name]" required />
                            </div>
                            <div class="row" ng-if="column.required == 0">
                                <p>Type nombre :</p>
                                <label for="float{{$index}}">{{column.name}}</label>
                                <input name="float{{$index}}" type="text" ng-model="addentry[column.name]" />
                            </div>
                        </div>

                        <div ng-switch-when="mail">
                            <div class="row" ng-if="column.required == 1">
                                <p>Type mail :</p>
                                <label for="email{{$index}}">{{column.name}}</label>
                                <input name="email{{$index}}" type="email" ng-model="addentry[column.name]" required />
                            </div>
                            <div class="row" ng-if="column.required == 0">
                                <p>Type mail :</p>
                                <label for="email{{$index}}">{{column.name}}</label>
                                <input name="email{{$index}}" type="email" ng-model="addentry[column.name]" />
                            </div>
                        </div>

                        <!-- texte de précisions complémentaires ou non -->
                    </div>
                </div>
                <md-button type="submit" ng-click="showNewTable = !showNewTable" class="md-fab md-primary" aria-label="Use Android">
                    <i class="material-icons">add</i>
                </md-button>  <span style="font-weight: bold">Ajouter</span>
            </form>


        </div>
    </div>

</div>
